<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>后台管理系统v1.0</title>
    <meta name="ctx" th:content="@{/}">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}" href="layui/css/layui.css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/public.css}" href="css/public.css" media="all"/>
    <link rel="stylesheet" th:href="@{/css/public-list.css}" href="css/public-list.css" media="all"/>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-form">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" class="layui-input layui-input-sm" name="roleName" placeholder="请输入要查询的角色名称" id="guestName"/>
            </div>

            <div class="layui-inline layui-col-md-offset1">
                <label class="layui-form-label">选择日期</label>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" class="layui-input" id="createTimeBegin"/>
                </div>
                <div class="layui-form-mid">-</div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" class="layui-input layui-input-sm" id="createTimeEnd"/>
                </div>
            </div>
            <div class="layui-inline">
                <button type="button" id="btnSearch" class="layui-btn layui-btn-sm">查询</button>
            </div>
        </div>
        <div class="layui-btn-group">
            <button class="layui-btn" id="addnewRole">新建角色</button>
        </div>
        <table id="role-list-table" lay-filter="role-list-table-filter"></table>
    </div>
</div>
<div id="page"></div>
<script type="text/javascript" th:src="@{/layui/layui.min.js}" src="layui/layui.min.js"></script>
<script type="text/javascript" th:src="@{/admin/roleList.js}" src="admin/roleList.js"></script>

<script type="text/html" id="role-list-status-tpl">
    {{#  if(d.status === 1) { }}
    <span>停用</span>
    {{# } else if(d.status === 0) { }}
    <span>正常</span>
    {{# } }}
</script>
<script type="text/html" id="role-list-option-tpl3">
    {{#  if(d.status === 1) { }}
    <a class="layui-btn layui-bg-gray layui-btn-sm layui-disabled" lay-event="roleEdit">编辑</a>
    <a class="layui-btn layui-btn-sm " lay-event="upmarket">启用</a>
    <a class="layui-btn layui-btn-sm " lay-event="delete">删除</a>
    <a class="layui-btn layui-bg-gray layui-btn-sm layui-disabled">分配资源</a>
    {{# } else if(d.status === 0) { }}
    <a class="layui-btn layui-btn-sm" lay-event="roleEdit">编辑</a>
    <!--<a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="downmarket">停用</a>-->
    <a class="layui-btn layui-btn-sm " lay-event="delete">删除</a>
    <a class="layui-btn layui-btn-sm " lay-event="allocateResource">分配资源</a>
    {{# } }}
</script>

<script type="text/html" id="role-list-createTime-tpl">
    {{ new Date(d.createTime * 1000).toLocaleDateString()+' '+new Date(d.createTime * 1000).getHours()+':'+new Date(d.createTime * 1000).getMinutes()+':'+new Date(d.createTime * 1000).getSeconds()}}
</script>
</body>
</html>