<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" debug="false">
    <contextName>andrei-admin</contextName>

    <property name="log.path" value="/var/log/andrei/" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/andrei-admin.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d %-5level - %msg%n</pattern>
        </encoder>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>10MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <appender name="asyncFile" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>500</queueSize>
        <appender-ref ref="file"/>
    </appender>

    <logger name="com" level="error"/>
    <logger name="com.telfa" level="debug"/>
    <logger name="org" level="error"/>
    <logger name="tk" level="error"/>
    <logger name="io" level="error"/>

    <springProfile name="dev, test">
        <root level="info">
            <appender-ref ref="console"/>
        </root>
    </springProfile>

    <springProfile name="product">
        <root level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="asyncFile"/>
        </root>
    </springProfile>
</configuration>