
.ysb-login {
    background: url("../images/login-bg.jpg") repeat left top;
}

.ysb-login form.layui-form {
    padding: 15px 15px;
    width: 400px;
    position: absolute;
    left: 50%;
    top: 40%;
    margin: -200px 0 0 -200px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px #009688;
}

.layui-input-block {
    border: none;
}

.sysname-layout {
    text-align: center;
}